@import "tailwindcss";

:root {
    --primary-bg-1: #495e57;
    --primary-bg-2: #f4ce14;
    --secondary-bg-1: #ee9972;
    --secondary-bg-2:#fbdabb;
    --secondary-bg-3:#edefee;
    --secondary-bg-4:#333333;
}